// colors
$whiteColor: #ffffff;
$mainTextColor: #001e41;
$prymaryTextColor: #909090;
$secondaryTextColor: #919191;
$prymeryLogoColor: #bdbdbd;
$navigationColor: #7d7d7d;
$accentColor: #5d78ff;
$accentSecondaryColor: #aed1ff;
$hoverNavColor: #0e77f1;
$hoverButtonColor: #596fdd;
$heroBackgroundColor: #e2f2ff;
$slideBackgroundColor: #f8f8fa;
$slideSecondaryBackgroundColor: #e3eeff;
$errorColor: #cb3d40;

// borders
$headerBorder: #e5e5e5;
$inputBorder: #d5d5d6;

// @media
$mobileMedia: 768px;
