@import "../../variables/variables.scss";

.hero {
  display: flex;
  background-color: $heroBackgroundColor;
  width: 100%;
  border-radius: 10px;
  padding: 53px 51px 20px;

  @media screen and (max-width: $mobileMedia) {
    flex-direction: column;
    padding: 20px 10px;
  }
}

.imgHero {
  width: 370px;
  border-radius: 18.7735px;
}

.imagesContainer {
  position: relative;
  background-image: url("./../../image/linkedinSalesSolutions_1X.png");
  background-repeat: no-repeat;
  background-position-x: center;
  width: 370px;
  height: 442px;
  border-radius: 18.7735px;
  background-size: 370px;

  margin-left: 106px;

  @media screen and (max-width: $mobileMedia) {
    margin-left: 0;
    background-size: 230px;
    width: 100%;
    height: 273px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../image/linkedinSalesSolutions_2X.png);
  }

  & i {
    position: absolute;
    background-image: url("../../image/Frame1x1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 9px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  & i:first-child {
    position: absolute;
    background-image: url("../../image/Frame1x1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    width: 190px;
    height: 151px;
    top: -40px;
    left: -70px;
    border-radius: 9px;
    animation-duration: 1s;
    animation-name: fadeInLeft1;

    @media screen and (max-width: $mobileMedia) {
      background-size: 150px;
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../image/Frame1x2.png);
    }
  }

  & i:nth-child(2) {
    position: absolute;
    background-image: url("../../image/Frame2x1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    width: 164px;
    height: 100px;
    top: 45px;
    left: 250px;
    border-radius: 9px;
    animation-duration: 1s;
    animation-name: fadeInRigth1;

    @media screen and (max-width: $mobileMedia) {
      background-size: 120px;
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../image/Frame2x2.png);
    }
  }

  & i:nth-child(3) {
    position: absolute;
    background-image: url("../../image/Frame3x1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    width: 190px;
    height: 130px;
    top: 220px;
    left: -106px;
    border-radius: 9px;
    animation-duration: 1s;
    animation-name: fadeInLeft2;

    @media screen and (max-width: $mobileMedia) {
      background-size: 140px;
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../image/Frame3x2.png);
    }
  }
}

@keyframes fadeInLeft1 {
  0% {
    left: -500px;
    opacity: 0;
  }

  50% {
    transform: matrix(0.99, -0.12, 0.15, 0.99, 0, 0);
  }

  100% {
    top: -40px;
    left: -70px;
  }
}

@media screen and (max-width: $mobileMedia) {
  @keyframes fadeInLeft1 {
    0% {
      left: -500px;
      opacity: 0;
    }

    50% {
      transform: matrix(0.99, -0.12, 0.15, 0.99, 0, 0);
    }

    100% {
      top: -20px;
      left: 0px;
    }
  }
}
@keyframes fadeInRigth1 {
  0% {
    left: 500px;
    opacity: 0;
  }

  50% {
    transform: matrix(1, 0.1, -0.1, 1, 0, 0);
  }

  100% {
    top: 45px;
    left: 250px;
  }
}
@media screen and (max-width: $mobileMedia) {
  @keyframes fadeInRigth1 {
    0% {
      left: 500px;
      opacity: 0;
    }

    50% {
      transform: matrix(1, 0.1, -0.1, 1, 0, 0);
    }

    100% {
      top: 40px;
      left: 190px;
    }
  }
}
@keyframes fadeInLeft2 {
  0% {
    left: -400px;
    opacity: 0;
  }

  50% {
    transform: matrix(0.99, -0.12, 0.15, 0.99, 0, 0);
  }

  100% {
    top: 220px;
    left: -106px;
  }
}
@media screen and (max-width: $mobileMedia) {
  @keyframes fadeInLeft2 {
    0% {
      left: -400px;
      opacity: 0;
    }

    50% {
      transform: matrix(0.99, -0.12, 0.15, 0.99, 0, 0);
    }

    100% {
      top: 180px;
      left: 0px;
    }
  }
}

.textContainer {
  width: 60%;

  @media screen and (max-width: $mobileMedia) {
    width: 100%;
  }
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 16px;

  @media screen and (max-width: $mobileMedia) {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

.br {
  @media screen and (max-width: $mobileMedia) {
    display: none;
  }
}

.textHero {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  margin-bottom: 6px;

  @media screen and (max-width: $mobileMedia) {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
  }
}

.secondaryText {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.0025em;
  color: $secondaryTextColor;
  margin-bottom: 16px;

  @media screen and (max-width: $mobileMedia) {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
  }
}

.buttonHero {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  padding: 8px 24px;

  @media screen and (max-width: $mobileMedia) {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.0025em;
    padding: 10px 30px;
  }
}

.containerActionButton {
  @media screen and (max-width: $mobileMedia) {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
