@import "../../../variables/variables.scss";

.button {
  cursor: pointer;
  border: none;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 8px;

  color: $whiteColor;
  background-color: $accentColor;

  &:hover {
    background-color: $hoverButtonColor;
  }
}
