@import "../../variables/variables.scss";

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 92px;

  border-bottom: 1px solid $headerBorder;
  font-family: "Source Sans Pro";
  background-color: $whiteColor;
  z-index: 200;
}

.logo {
  width: 140px;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.item {
  & + & {
    margin-left: 30px;
  }
}

.link {
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;
  text-decoration: none;
  color: $navigationColor;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $hoverNavColor;
  }
}

.containerLink {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}
.singIn {
  color: $accentColor;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  border: none;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;

  &::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 1px;
    background: $hoverButtonColor;
    position: absolute;
    bottom: 4px;
    transition: 0.3s;
    opacity: 0;
    left: 0px;
  }

  &:hover::after {
    width: 100%;
    opacity: 1;
  }

  &:hover {
    color: $hoverButtonColor;
  }
}

.contactSales {
  margin-left: 40px;

  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  padding: 6px 24px;
}
