.container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.0025em;
  margin-left: 20px;
  width: 455px;
}

.button {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  padding: 8px 24px;
}
