@import "../../variables/variables.scss";

.bodyScroll {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  transform: translate(-100%, 0);

  transition: 0.5s;
  z-index: 700;
}

.active {
  opacity: 1;
  pointer-events: all;
  transform: translate(0, 0);
}

.modal {
  position: relative;
  width: 800px;

  box-shadow: 0px 10px 20px rgba(93, 120, 255, 0.05);
  background-color: #fff;
  overflow: hidden;
  padding: 20px;
  height: 50%;
}

.containerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.logo {
  width: 140px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;

  margin-top: 50px;
}

.item {
  & + & {
    margin-top: 20px;
  }
}

.link {
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;
  text-decoration: none;
  color: $navigationColor;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $hoverNavColor;
  }
}

.containerLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  font-weight: 400;
  font-size: 18px;
  line-height: 160%;

  margin-top: 20px;
}

.singIn {
  color: $accentColor;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  border: none;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;

  &::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 1px;
    background: $hoverButtonColor;
    position: absolute;
    bottom: 4px;
    transition: 0.3s;
    opacity: 0;
    left: 0px;
  }

  &:hover::after {
    width: 100%;
    opacity: 1;
  }

  &:hover {
    color: $hoverButtonColor;
  }
}

.button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  padding: 5px;

  border: none;
  border-radius: 50%;
  background-color: #f3f4f6;
  cursor: pointer;
}

.imgClose {
  width: 20px;
}
