@import "../../variables/variables.scss";

.container {
  position: relative;
  margin-top: 100px;
  padding-top: 80px;

  @media screen and (max-width: $mobileMedia) {
    margin-top: 40px;
    padding-top: 70px;
  }
}

.containerTitle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;

  @media screen and (max-width: $mobileMedia) {
    font-size: 20px;
    line-height: 130%;
  }
}

.span {
  color: $secondaryTextColor;
}

.containerButton {
  display: flex;
  align-items: center;

  @media screen and (max-width: $mobileMedia) {
    display: none;
  }
}
